<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="APP_NAME" source="spring.application.name"/>
    <springProperty name="LOGSTASH_HOST" source="logging.logstash.host"/>
    <springProperty name="LOGSTASH_PORT" source="logging.logstash.port"/>

    <!-- ELK logging -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service_name":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>
    <!-- Console Logging -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] [%logger{36}] : %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Loggers -->
    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
